<!doctype html>
<html>
<head>
  <link rel="shortcut icon" href="/s/favicon.ico">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
</head>
<body>
</body>
</html>
